<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.user.domain.mapper.UserMapper">

    <resultMap id="BaseMap" type="com.user.domain.entity.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="age" property="age" jdbcType="TINYINT"/>
        <result column="school" property="school" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="TINYINT"/>
    </resultMap>

    <insert id="create" parameterType="com.user.domain.entity.User" useGeneratedKeys="true" keyProperty="id">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="age != null">
                age,
            </if>
            <if test="school != null">
                school,
            </if>
            <if test="sex != null">
                sex,
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="name !=null">
                #{name, jdbcType = VARCHAR},
            </if>
            <if test="age !=null">
                #{age, jdbcType = TINYINT},
            </if>
            <if test="school !=null">
                #{school, jdbcType = VARCHAR},
            </if>
            <if test="sex !=null">
                #{sex, jdbcType = TINYINT},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.user.domain.entity.User">
        update t_user
        <set>
            <if test="name !=null">
                name = #{name, jdbcType = VARCHAR},
            </if>
            <if test="age !=null">
                age = #{age, jdbcType = TINYINT},
            </if>
            <if test="school !=null">
                school = #{school, jdbcType = VARCHAR},
            </if>
            <if test="sex !=null">
                sex = #{sex, jdbcType = TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT} and is_deleted = 0
    </update>

    <update id="deleted" parameterType="java.lang.Long">
        update t_user
        set is_deleted = 1
        where id = #{id}
    </update>

    <select id="getById" parameterType="java.lang.Long" resultMap="BaseMap">
        select *
        from t_user
        where id = #{id} and is_deleted = 0
    </select>

</mapper>